<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  </head>

  <body >
   <div class="d-flex ">
      <div class="col-3 bg-secondary ">
        <a href="#"><img class="p-6" src="assets\images\logo-ANSWER.svg" alt="logo圖片"></a>
        <ul class="mb-362 layout">
          <li class="mb-4 ">
            <a href="#" class=" ps-4 text-dark d-flex text-decoration-none ">
              <span class="material-symbols-outlined">
                assessment
              </span>
              <p class="ms-3 fw-bolder dark">Dashboard</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="ps-4 text-dark d-flex text-decoration-none">
              <span class="material-symbols-outlined">
                question_answer
              </span>
              <p class="ms-3 fw-bolder">Question</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="ps-4 text-dark d-flex text-decoration-none">
              <span class="material-symbols-outlined">
              assignment
              </span>
              <p class="ms-3 fw-bolder">Assignment</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="ps-4 text-dark d-flex text-decoration-none">
              <span class="material-symbols-outlined">
                video_library
              </span>
              <p class="ms-3 fw-bolder">Course</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="ps-4 text-dark d-flex text-decoration-none">
              <span class="material-symbols-outlined">
                supervisor_account
              </span>
              <p class="ms-3 fw-bolder">Admin</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="ps-4 text-dark d-flex text-decoration-none">
              <span class="material-symbols-outlined">
                settings
              </span>
              <p class="ms-3 fw-bolder ">Settings</p>
            </a>
          </li>
        </ul>

        <div class="d-flex">
          <img class="ms-6 picture" src="assets/images/andychen.jpeg" alt="用戶照片">
          <div>
            <p class="account_name">Andy Chen</p>
            <p class="account_mail">andy0401@mail.com</p>
          </div>

        </div>




      </div>
      <%- contents %>

   </div> 



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>